@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;body {
    background: #2ea3f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}



.profile-section {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.rectangle {
    background-color: white;
    border-radius: 150px;
    padding: 200px;
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    font-weight: bold;
}}

